@import "../../variables";
.header {
    margin: 0;
    padding-left: $minSpace;
    padding-right: $minSpace;
    padding-bottom: 111px;
    box-sizing: border-box;
    width: 100%;
    background-color: $headerBack;
    background-image: url(../images/image1.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
        min-height: 646px;
        background-position: left top;
        background-size: auto auto;
    }

    @media screen and (min-width: 1440px) {
        min-height: 900px;
        padding-right: $minSpace*2;
    }
}