@import "../../variables";
.content-text {
    margin: 0;
    font-weight: $fontnorm;
    font-size: $textSize;
    line-height: $textLine;
    padding-top: $minSpace;

    @media screen and (min-width: 768px) {
        font-size: $textSize+4px;
        line-height: $textLine+8px;
        padding-top: 0;
    }

    &_location_footer {
        color: $light;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
    
        @media screen and (min-width: 768px) {
            max-width: 700px;
            box-sizing: content-box;
            padding-bottom: 5px;
        }
        @media screen and (min-width: 1440px) {
            padding-bottom: 40px;
        }
    }
}