@import "../../../variables";
.subscribe-form__element {
    padding: 0;
    margin: 0;
    width: $maxWidth;
    min-height: 44px;
    box-sizing: border-box;
    border: none;

    @media screen and (min-width: 768px) {
        flex-basis: content;
    }
}