@import "./variables";

@mixin quote-container {
    font-size: $quoteSize;
    line-height: $quoteLine;
    font-weight: $fontbold;
    align-self: center;
    @media screen and (min-width: 768px){
        grid-column: 1/3;
        font-size: $quoteSize+12px;
        line-height: $quoteLine+16px;
    }
}

@mixin grid-image {
    width: $maxWidth;
    padding-top: $minSpace*2 - 4px;
    align-self: start;
    @media screen and (min-width: 768px) {
        padding: 0;
    }
}
@mixin right-grid-image {
    @media screen and (min-width: 768px) { 
        z-index: -1;
    }
}
