$minSpace: 20px;
$menuSpace: 16px;
$maxWidth: 100%;
$checkbox: 24px;
$minMenuButton: 24px;

$fontbold: 500;
$fontnorm: 400;
$titltSize: 24px;
$titleLine: 32px;
$actionSize: 14px;
$actionLine: 20px;
$textSize: 16px;
$textLine: 24px;
$quoteSize: 20px;
$quoteLine: 28px;

$dark: #0A0A0A;
$light: #fff;
$grey: #666666;
$headerBack: #E7E7E2;
