@import "../../../variables";
.menu__button {
    width: $minMenuButton;
    height: $minMenuButton;
    border: none;
    box-sizing: border-box;
    padding: 0;
    background-color: $headerBack;
    background-image: url(../images/menu-mobile.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;

    @media screen and (min-width: 768px) {
        width: $minMenuButton*2;
        height: $minMenuButton*2;
        background-size: contain;
    }
}